@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-base: #F5EFE6;
  --color-base-light: #FBF8F2;
  --color-base-dark: #E8DFCA;
  --color-accent: #6D94C5;
  --color-accent-light: #CBDCEB;
  --background: var(--color-base);
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.snap-ignore {
  scroll-snap-align: none;
}
