POSTGRES_USER=backend
POSTGRES_PASSWORD=<REPLACE_ME>
POSTGRES_DB=backend_db
PGHOST=DB
AWS_ACCESS_KEY_ID=<REPLACE_ME>
AWS_SECRET_ACCESS_KEY=<REPLACE_ME>
CLOUDFRONT_BASE_URL=https://your-distribution.cloudfront.net
