%h1 画像一覧

-# エラー表示用
#flash

.table-responsive
  %table.table.table-striped{"data-controller": "sortable sortable-style"}
    %thead
      %tr
        %th 表示順
        %th プレビュー
        %th タイトル
        %th 閲覧
        %th 編集
        %th 削除
    %tbody{"data-sortable-target": "list",
           "data-sortable-update-url-value": insert_at_admin_image_path(":id")}
      - @images.each do |image|
        = render 'image_row', image: image

= link_to '新規作成', new_admin_image_path, class: 'btn btn-primary mt-3'
